* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
}
.wrapper {
  position: relative;
  width: 450px;
  background: #0008;
  padding: 50px;
  box-shadow: 5px 15px 25px black;
  border-radius: 8px;
}
.wrapper h2 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 700;
}
.wrapper .box {
  width: 100%;
  color: white;
  margin-top: 35px;
  position: relative;
}
.wrapper .box input {
  width: 100%;
  padding-top: 18px;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 18px;
}
.wrapper .box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 0;
  font-size: 18px;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
}
.wrapper .box input:focus ~ label,
.wrapper .box input:valid ~ label {
  color: rgb(60, 120, 250);
  top: -25px;
  font-size: 14px;
}
.wrapper input[type="submit"] {
  background: rgb(60 120 250);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  outline: none;
  cursor: pointer;
}
