*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #696969;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(160, 158, 158);
  outline: none;
  color:azure;
  background-color: rgba(68, 68, 68, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(68, 68, 68, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(20, 20, 20, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* Mobile Screen */
@media only screen and (max-width: 768px) {
  .calculator-grid{
    width: 100%;
  }
}

/* Tablet Screen */
@media only screen and (min-with: 768px) and (max-width:1039) {
  .calculator-grid{
    width: 50%;
  }
}

/* Desktop Screen */
@media only screen and (min-with: 1024) {
  .calculator-grid {
    width: 100%;
  }
}

