body {
    background-color: tan;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: url("../images/photographer.jpg");
}

h1 {
    font-size: 50px;
    color: #00aeef;
}
